<%= form_for(show) do |f| %>
  <% if show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(show.errors.count, "error") %> prohibited this show from being saved:</h2>

      <ul>
      <% show.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :language %>
    <%= f.text_field :language %>
  </div>

  <div class="field">
    <%= f.label :copyright %>
    <%= f.text_field :copyright %>
  </div>

  <div class="field">
    <%= f.label :last_build_date %>
    <%= f.datetime_select :last_build_date %>
  </div>

  <div class="field">
    <%= f.label :explicit %>
    <%= f.check_box :explicit %>
  </div>

  <div class="field">
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>

  <div class="field">
    <%= f.label :summary %>
    <%= f.text_area :summary %>
  </div>

  <div class="field">
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle %>
  </div>

  <div class="field">
    <%= f.label :primary_category %>
    <%= f.text_field :primary_category %>
  </div>

  <div class="field">
    <%= f.label :secondary_category %>
    <%= f.text_field :secondary_category %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
